
html {
    box-sizing: border-box;
}

body {
    margin:0;
    min-height: 100vh;
}

.produced-by {
    font-family: Rubik, serif;
    font-weight: 500;
    font-size: 14px;
    position: absolute; bottom: 5px; right: 5px; text-align: right;
    width: auto;
    max-width: auto;
    padding: 3px 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}